In [1]:
print("Hello world!")

Hello world!

In [2]:
print("Hello, Python!")

Hello, Python!

In [3]:
print("Siapa kamu? kenalan dong.")
print("Aku siapa? hayo siapa.")

Siapa kamu? kenalan dong.
Aku siapa? hayo siapa.

In [4]:
print("Siapa kamu? kenalan dong.")
print()#memberikan hasil baris kosong
print("Aku siapa? hayo siapa.")

Siapa kamu? kenalan dong.

Aku siapa? hayo siapa.

In [5]:
print("Siapa kamu?\nkenalan dong.")
print()
print("Aku siapa?\nhayo siapa.")
#newline character (\n) memberikan perintah agar dimulai baris baru

Siapa kamu?
kenalan dong.

Aku siapa?
hayo siapa.

In [6]:
print("The itsy bitsy solder" , "climbed up" , "the waterspout")

The itsy bitsy solder climbed up the waterspout

In [7]:
print("My name is", "Python." , end=" ")
print("Monty Python.")

My name is Python. Monty Python.

In [8]:
print("ayo", "kita", "belajar", sep="_", end="*")
print("operasi", "Python.", sep="*", end="*\n")
print("The end")

ayo_kita_belajar*operasi*Python.*
The end

In [9]:
print("belajar","pemrogaman","di", sep="***", end="...")
print("Python")

belajar***pemrogaman***di...Python

In [10]:
3E8 #float karena mengandung desimal

300000000.0

In [11]:
6.62E-3

0.00662

In [12]:
9+2 #oddition

11

In [13]:
9-2 #subtraction

7

In [14]:
8*8 #multiplication

64

In [15]:
9/3 #classic division

3.0

In [16]:
#floor/integer division
print(9//2) #pembulatan kebawah menghasilkan integer
print(9.5//2) #pembulatan kebawah menghasilkan float

4
4.0

In [17]:
#exponentiation
print(9**2)
print(9.**2.)
print(9**2.)
print(9.**2)

81
81.0
81.0
81.0

In [18]:
#modulus
print(9%2) #sisa pembagian
print(8%5)

1
3

In [19]:
print(2**3**2) #operasi dari kanan 2**(3**2)

512

In [20]:
tinggi_1 = 155
tinggi_1 = 170

In [21]:
berat_1 = 45
berat_2 = 66

In [22]:
print(tinggi_1,tinggi_1)
print(berat_1,berat_2)

170 170
45 66

In [23]:
t1 = 1
t2 = 2
t1 = t1+2 #t1 yg akan dimasukkan adalah t1 terakhir yaitu 2
print(t1)

3

In [24]:
var = 2
print(var)
var = 3
print(var)

2
3

In [25]:
i = 2
j = 5
k = 8
l = 6
m = 10

In [26]:
#i=i+4*2 -> i=10
i += 4*2
print(i)

10

In [27]:
#k=k/2 -> k=4
k /= 2
print(k)

4.0

In [28]:
#m=m**2 ->m=100
m **=2
print(m)

100

In [29]:
#FUNGSI INPUT
nama = input("Namamu siapa? :") #hasil fungsi input () ini berupa string
print("Namaku",nama)

Namamu siapa? :ian yanuar
Namaku ian yanuar

In [30]:
ips_1 = float(input("Nilai IPS semester 1 : "))
ips_2 = float(input("Nilai IPS semester 2 : "))
ipk = (ips_1+ips_2)/2.0 #agar dapat dilakukan operasi aritmatika, variabel harus bersifat numerik
print("jadi nilai IPK ku adalah", ipk)

Nilai IPS semester 1 : 3.71
Nilai IPS semester 2 : 3.53
jadi nilai IPK ku adalah 3.62

In [31]:
#OPERATOR STRING
first = input("Nama pertama :")
last = input("Nama terakhir :")
print("Namaku adalah " + first +" "+ last)

Nama pertama :ian
Nama terakhir :yanuar pratama
Namaku adalah ian yanuar pratama

In [32]:
#OPERATOR PERBANDINGAN
#Equality Operator a==b, apakah a sama dengan b ?
print(2==3)
print(4==4)

False
True

In [33]:
a = 5
print(a==6)
print(a==5)

False
True

In [34]:
#Intequality Operator a!=b, apa a tidak sama dengan b?
print(2!=3)
print(5!=5)

True
False

In [35]:
a = int(input("Masukkan nilai a: "))
b = int(input("Masukkan nilai b: "))
if a==b:
    print("yeay!")
print("oops sorry") #syarat terpenuhi atau tidak, perintah ini berlaku dalam keadaan apapun

Masukkan nilai a: 4
Masukkan nilai b: 7
oops sorry

In [36]:
num1 = int(input("Masukkan angka pertama: "))
num2 = int(input("Masukkan angka kedua: "))

#Memilih angka yang lebih besar
if num1>num2:
    besar = num1
else:
    besar = num2
    
#Menampilkan hasil
print("angka yang lebih besar:", besar)

Masukkan angka pertama: 15
Masukkan angka kedua: 20
angka yang lebih besar: 20

In [37]:
fav_plant = input("Tanaman kesukaanmu: ")
if fav_plant=="Oryza":
    print("yeay benar sekali")
else:
    print("oops")

Tanaman kesukaanmu: janda bolong
oops

In [38]:
#WHILE
besar = 10
num1 = int(input("Masukkan angka pertama: "))

while num1!=10:
    if num1>besar:
        besar = num1
    num1 = int(input("Masukkan angka pertama: "))
    print("gotcha")

Masukkan angka pertama: 7
Masukkan angka pertama: 3
gotcha
Masukkan angka pertama: 8
gotcha
Masukkan angka pertama: 10
gotcha

In [39]:
#FOR
for i in range (10):
    print("nilai i adalah", i)

nilai i adalah 0
nilai i adalah 1
nilai i adalah 2
nilai i adalah 3
nilai i adalah 4
nilai i adalah 5
nilai i adalah 6
nilai i adalah 7
nilai i adalah 8
nilai i adalah 9

In [40]:
for i in range (2,10):
    print("nilai i adalah", i)

nilai i adalah 2
nilai i adalah 3
nilai i adalah 4
nilai i adalah 5
nilai i adalah 6
nilai i adalah 7
nilai i adalah 8
nilai i adalah 9

In [41]:
#contoh break
for i in range(1,6):
    if i==3:
        break
    print("inside the loop.", i)
print("outside the loop")

inside the loop. 1
inside the loop. 2
outside the loop

In [42]:
#contoh continue
for i in range(1,6):
    if i==3:
        continue #melompati atau melanjutkan ke looping berikutnya
    print("inside the loop.", i)
print("outside the loop")

inside the loop. 1
inside the loop. 2
inside the loop. 4
inside the loop. 5
outside the loop

In [43]:
num = [10, 5, 7, 2,1]
print("elemen-elemen asli: ", num)

num[0] = 111
print("perubahan elemen:", num)

num[1] = num[4]
print("perubahan elemen:", num)

elemen-elemen asli:  [10, 5, 7, 2, 1]
perubahan elemen: [111, 5, 7, 2, 1]
perubahan elemen: [111, 1, 7, 2, 1]

In [44]:
#fungsi len()
len(num)

5

In [45]:
#intruksi del
del num[1]
print(num)
print(len(num))

[111, 7, 2, 1]
4

In [46]:
#append() method
num = [100,101,102,105]
print(len(num))
print(num)

num.append(104)
print(len(num))
print(num)

4
[100, 101, 102, 105]
5
[100, 101, 102, 105, 104]

In [47]:
#None
value = None
if value == None:
    print("Hei itu bukan suatu nilai")

Hei itu bukan suatu nilai

In [48]:
def angka(n):
    if(n % 2 == 0):
        return True
    
print(angka(16))
print(angka(17))

True
None

In [50]:
#Dictionaries
nomortelp = {'salem' : '031777111', 'ian' : '03188776'}
kamuskosong = {}

print(nomortelp)
print(kamuskosong)
print(nomortelp['salem'])

{'salem': '031777111', 'ian': '03188776'}
{}
031777111

In [51]:
#Menghapus Item
bahasa = {'Indonesia':'Bahasa Indonesia','China':'Mandarin', 'England':'English'}
del bahasa['China']
print(bahasa)

#Menghapus item paling terakhir
bahasa = {'Indonesia':'Bahasa Indonesia','China':'Mandarin', 'England':'English'}
bahasa.popitem()
print(bahasa)

{'Indonesia': 'Bahasa Indonesia', 'England': 'English'}
{'Indonesia': 'Bahasa Indonesia', 'China': 'Mandarin'}

In [52]:
#Mengubah format tuple ke dictionaries
bahasa = (('Indonesia','Bahasa Indonesia'),('China','Mandarin'), ('England','English'))
newdict = dict(bahasa)
print(newdict)

{'Indonesia': 'Bahasa Indonesia', 'China': 'Mandarin', 'England': 'English'}

In [53]:
fav_food = input("makanan kesukaanmu: ")
if fav_food=="rawon":
    print("yeay benar sekali")
else:
    print("oops")

makanan kesukaanmu: rawon
yeay benar sekali